@CHARSET "UTF-8";

#md_container {
	margin-top: 10px;
	margin-bottom: 50px;
}

#md_search_area {
	margin-top: 30px;
}

.md_search_value {
	margin-top: 20px;
}

.md_filter_area {
	margin-top: 30px;
}

.md_search_values {
	height: 500px;
	overflow-y: auto;
	overflow-x: hidden;
}