{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Intermedior</title>

<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/home.css">
<script src="/static/js/jquery-2.1.0.js"></script>
<script src="/static/js/bootstrap.min.js"></script>

</head>
<body>
<input type = "hidden" id = "GOOGLE_API_KEY" value = "{{ GOOGLE_API_KEY }}" />

<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    	<ul class="nav navbar-nav navbar-left">
    		<li><p class="navbar-text" style = "font-size: 1.3em; margin-bottom:0px;"><span style = "color:#65832E">INTER</span><span>MEDIA</span></p></li>
    	</ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Team</a></li>
         <li><a href="#">Blog</a></li>
         <li><a href="#">Jobs</a></li>
         <li><a href="#">Brands</a></li>
          <li><a href="#">Creators</a></li>
          <li><a href="#">Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid" id = "md_container" data-tumblr_url = "{% url 'tumblr_posts' %}">
	<div class="row">
		<div class = "col-md-6 col-md-offset-3">
			<div class="input-group input-group-lg">
 			   <span class="input-group-addon">Enter a brand name</span>
  			   <input type="text" class="form-control" id = "md_search_field">
  			   <span class="input-group-btn">
        		  <button class="btn btn-default" type="button" id = "md_search_btn">Search!</button>
      		   </span>
			</div>
		</div>
	</div>
	
	<div class = "row" id = "md_search_area" style = "display:none">
		<div class = "col-md-8">
			<h4>Search results</h4>
			<hr />
			
			<div class = "row" id = "md_search_results">
				<div class = "col-md-12">
					<ul class = "list-unstyled" id = "md_search_categories">
						<li data-category_value = "youtube" class = "md_search_category">
							<div class = "col-md-2">
								<h2>Youtube</h4>
							</div>
							<div class = "col-md-3 md_filter_area">
								<input type = "checkbox" id = "md_filter_views" /><label for = "md_filter_views">&nbsp;&gt;1,000,000 views</label>
							</div>
							<div class = "col-md-3 md_filter_area">			
								<label for = "md_filter_channels">Ignore these channels:</label>
							</div>
							<div class = "col-md-3">
								<textarea id = "md_filter_channels" rows = "2" cols = "25"></textarea>
							</div>
							<div class = "col-md-12">
								<ul class = "list-unstyled md_search_values">
									<li id = "youtube_sample" style = "display:none" class = "md_search_value">
										<div class = "row">
											<div class = "col-md-2">
												<img src = "" class = "youtube_thumbnail" />
											</div>
											<div class = "col-md-8">
												<div><span>Title: </span><span class = "youtube_title"></span></div>
												<div><span>Channel: </span><span class = "youtube_channel"></span></div>
												<div><span>Views: </span><span class = "youtube_views"></span></div>
												<div class = "youtube_link_parent" style = "display:none"><span>Link: </span><a href = "" class = "youtube_link"></a></div>
												<div><span>On database: </span>
													<span class = "connected_txt" style = "display:none">Yes</span>
													<span class = "not_connected_txt" style = "display:none">No</span>
												</div>
												<button type="button" class = "connected_btn btn-xs btn btn-success" style = "display:none">Connect</button>
												<button type="button" class = "not_connected_btn btn-xs btn btn-info" style = "display:none">Request to connect</button>
											</div>
										</div>
									</li>
									
								</ul>
							</div>
						</li>
						<li data-category_value = "tumblr" class = "md_search_category">
							<div class = "col-md-2">
								<h2>Tumblr</h4>
							</div>
							<div class = "col-md-12">
								<ul class = "list-unstyled md_search_values">
									<li id = "tumblr_sample" style = "display:none" class = "md_search_value">
										<div class = "row">
											<div class = "col-md-2">
												<img src = "" class = "tumblr_thumbnail" width = "120px" height = "90px"/>
											</div>
											<div class = "col-md-8">
												<div><span>Blog name: </span><span class = "tumblr_name"></span></div>
												<div><span>Followers: </span><span class = "tumblr_followers"></span></div>
												<div class = "tumblr_link_parent" style = "display:none"><span>Link: </span><a href = "" class = "tumblr_link"></a></div>
												<div><span>On database: </span>
													<span class = "connected_txt" style = "display:none">Yes</span>
													<span class = "not_connected_txt" style = "display:none">No</span>
												</div>
												<button type="button" class = "connected_btn btn-xs btn btn-success" style = "display:none">Connect</button>
												<button type="button" class = "not_connected_btn btn-xs btn btn-info" style = "display:none">Request to connect</button>
											</div>
										</div>
									</li>
									
								</ul>
							</div>
						</li>
					</ul>
				</div>
			</div>
			
			<div class = "row" id = "md_search_no_results" style = "display:none">
				<div class = "col-md-4">
				 No results found
				</div>
			</div>
		</div>
	</div>
</div>


<script src="/static/js/home.js"></script>

</body>
</html>